---
import CardBlog from '@components/CardBlog.astro'
import Layout from '@layouts/Layout.astro'
import { getCollection } from 'astro:content'

const blog = await getCollection('blog')
---

<Layout title="Olivarez Alexis - Blog">
  <section class="flex h-dvh flex-wrap justify-center gap-4 pt-4">
    {
      blog.map((article: unknown, i: number) => (
        <CardBlog article={article} delay={i} />
      ))
    }
  </section>
</Layout>
