@import "tailwindcss";

@theme {
	--default-font-family: "Sora Variable", sans-serif;
}

html {
	@apply bg-neutral-900 text-neutral-100;
}

@layer utilities {
	:root {
		--scrollbar-color: rgba(255, 255, 255, 0.3);
	}

	* {
		-webkit-tap-highlight-color: transparent;
		scrollbar-color: var(--scrollbar-color) transparent;
		scrollbar-width: thin;
	}
}
