---
/* @import components */
import Section from '@/components/Section.astro';
---

<Section title='Sobre mí'>
  <p class='text-sm text-pretty mb-1'>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Incidunt laudantium cumque commodi sequi accusantium aliquid reiciendis nostrum pariatur temporibus maxime, autem tempora dolorum, ipsam in consequatur nesciunt quam earum perspiciatis.</p>
</Section>
