---
import { cn } from "@/lib/utils"

const { name, class: className = "" } = Astro.props
---

<div
	class={cn(
		"inline-flex items-center gap-2 rounded-2xl border border-neutral-800 bg-neutral-900 px-2.5 py-1 text-neutral-100 transition-colors h-[29.33px]",
		className
	)}>
	<slot />
	<span class="text-xs">{name}</span>
</div>
