---
interface Props {
  class?: string
  delay?: string
}

const { class: className, delay } = Astro.props
---

<div
  class:list={[
    'translate-y-8 animate-fade-in rounded-2xl border border-border-light bg-light p-6 text-dark opacity-0 shadow-md transition-colors dark:border-border-dark dark:bg-dark dark:text-light',
    className
  ]}
  style={`animation-delay: calc(0.1s * ${delay})`}>
  <slot />
</div>
