---
import { cn } from "@/lib/utils"

interface Props {
	class?: string
	delay?: string
}

const { class: className, delay } = Astro.props
---

<div
	class={cn(
		"animate-fade-in translate-y-8 rounded-2xl border border-neutral-800 bg-neutral-900 p-5 text-neutral-100 opacity-0 shadow-md transition-colors",
		className
	)}
	style={`animation-delay: calc(0.1s * ${delay})`}>
	<slot />
</div>
