<footer class="max-w-4xl mx-auto p-4 text-sm text-center">
  <div class="dark:bg-light/10 bg-dark/10 h-[0.5px] rounded-full m-2"></div>
  <p>
    Construido por <a href="#">Alexis</a>, con ❤️ el uso de Astro y TailwindCSS.
    El el código fuente está disponible en <a href="#">GitHub</a>.
  </p>
</footer>
