---
import World from '@icons/World.astro'
import { Icon } from 'astro-icon/components'
---

<div id="inicio" class="mb-2 flex items-center gap-4">
  <img
    class="aspect-square w-[50px] rounded-full"
    src="me.webp"
    alt="Perfil de Alexis"
    loading="lazy"
  />
  <span
    class="inline-flex cursor-pointer items-center justify-center rounded-full border border-gray-800 bg-gray-950 px-3 py-1 text-sm font-medium text-gray-300 backdrop-blur-3xl">
    <span
      class="bg-gradient-to-t from-light to-[#8678f9] bg-clip-text text-transparent">
      Disponible para trabajar
    </span>
  </span>
</div>
<h1 class="mb-2 text-4xl font-bold">Hey, soy Alexis</h1>
<p class="mb-2 text-pretty text-sm text-gray-light dark:text-gray-dark">
  Apasionado por la programación y listo para embarcarme en mi primera aventura
  en el mundo del desarrollo. Ansioso por aprender, colaborar y crear algo
  increíble junto a un equipo.
</p>
<div class="flex items-center justify-between">
  <div
    class="inline-flex items-center gap-2 text-xs text-gray-light dark:text-gray-dark">
    <World />
    <span>Corrientes Capital, Argentina</span>
  </div>
  <div class="inline-flex items-center gap-4">
    <a class="transition-opacity hover:opacity-50" href="#"
      ><Icon name="linkedin" class="size-6" /></a
    >
    <a class="transition-opacity hover:opacity-50" href="#">
      <Icon name="github" class="size-6" /></a
    >
  </div>
</div>
