---

---

<nav
	class="sticky top-4 z-50 mx-auto mt-4 flex max-w-max items-center justify-center gap-4 rounded-2xl border border-neutral-800 bg-neutral-900 px-8 py-2 text-sm text-neutral-100 backdrop-blur-lg transition-colors">
	<div class="text-md inline-flex items-center gap-4">
		<a href="/">Inicio</a>
		<a href="/#sobre-mi">Sobre mí</a>
		<a href="/proyectos">Proyectos</a>
	</div>
</nav>
