---
/* @import components */
import Section from '@/components/Section.astro';

/* @import icons */
import Github from '@/icons/Github.astro';
import Css from '@/icons/Css.astro';
import Codeigniter from '@/icons/Codeigniter.astro';
import Php from '@/icons/Php.astro';
import React from '@/icons/React.astro';
import TailwindCss from '@/icons/TailwindCss.astro';
import Django from '@/icons/Django.astro';
import AstroLogo from '@/icons/AstroLogo.astro';
---

<Section title='Proyectos'>
  <div class='flex flex-col'>
    <!-- Sneakers Store -->
    <div class='mb-3'>
      <div class='flex justify-between items-center gap-2 mb-1'>
        <p>
          <span class='font-semibold text-md mb-1'>Sneakers Store</span>
        </p>
        <span class='text-green-600 text-sm print:hidden'>En desarrollo...</span>
      </div>
      <div class='flex flex-row w-full text-sm mb-1'>
        <p class='text-pretty'>Utilicé mis habilidades previas en React como punto de partida, aprovechando las prácticas aprendidas para abordar los desafíos del proyecto. Esta experiencia me permitió explorar unos de los frameworks de PHP y expandir mi conjunto de habilidades en el desarrollo web. También me proporcionó una valiosa experiencia práctica en el diseño UX/UI, la adaptación a diferentes dispositivos y la optimización del rendimiento, lo que me permitió desarrollar habilidades sólidas en el desarrollo web front-end.</p>
        <span class='inline-flex justify-center items-center hover:text-gray-600 cursor-pointer ml-3 mb-2'>
        <a class='font-bold bg-black text-white rounded-full p-2 print:hidden' href='https://github.com/Alexisxde/sneakers-store' target='_blank'><Github/></a>
        </span>
      </div>
      <div class='flex justify-start items-center gap-5'>
        <span class='text-black'><Php/></span>
        <span class='text-black'><Codeigniter/></span>
        <span class='text-black'><Css/></span>
      </div>
    </div>
    <!-- CV Landing Page -->
    <div class='mb-3'>
      <div class='flex justify-between items-center gap-2 mb-1'>
        <p>
          <span class='font-semibold text-md mb-1'>CV Landing Page</span>
        </p>
        <a 
          href='https://alexisxde.github.io' 
          class='text-green-600 text-sm print:hidden'
          target='_blank'>
            Online
        </a>
      </div>
      <div class='flex flex-row w-full text-sm mb-1'>
        <p class='text-pretty'>Landing Page interactiva de mi currículum vitae, con la capacidad de ser visualizada en línea y descargada como PDF, proporcionando una experiencia dinámica y profesional tanto en formato digital como impreso.</p>
        <span class='inline-flex justify-center items-center hover:text-gray-600 cursor-pointer ml-3 mb-2'>
        <a class='font-bold bg-black text-white rounded-full p-2 print:hidden' href='https://github.com/Alexisxde/alexisxde.github.io' target='_blank'><Github/></a>
        </span>
      </div>
      <div class='flex justify-start items-center gap-5'>
        <span class='text-black'><AstroLogo/></span>
        <span class='text-black'><TailwindCss/></span>
      </div>
    </div>
    <!-- Proyecto Integrador Argentina Programa 4.0 -->
    <div class='mb-3'>
      <div class='flex justify-between items-center gap-2 mb-1'>
        <p>
          <span class='font-semibold text-md mb-1'>Proyecto Integrador Argentina Programa 4.0</span>
        </p>
        <span class='text-green-600 text-sm text-center text-pretty print:hidden'>Entregado y Aprobado</span>
      </div>
      <div class='flex flex-row w-full text-sm mb-1'>
        <p class='text-pretty'>Desarrollo de un proyecto full stack durante mi curso, utilizando tecnologías como React para el frontend, Django para el backend y SQLite3 como base de datos. A pesar de los desafíos y la falta de colaboración de algunos compañeros, logramos completar exitosamente el proyecto, lo que me permitió aprobar el curso.</p>
        <span class='inline-flex justify-center items-center hover:text-gray-600 cursor-pointer ml-3 mb-2'>
        <a class='font-bold bg-black text-white rounded-full p-2 print:hidden' href='https://github.com/Alexisxde/tp-arg-programa' target='_blank'><Github/></a>
        </span>
      </div>
      <div class='flex justify-start items-center gap-5'>
        <span class='text-black'><React/></span>
        <span class='text-black'><Django/></span>
        <span class='text-black'><TailwindCss/></span>
      </div>
    </div>
  </div>
</Section>