---
import Codeigniter from '@/icons/Codeigniter.astro'
import Css from '@/icons/Css.astro'
import Figma from '@/icons/Figma.astro'
import Github from '@/icons/Github.astro'
import MySQL from '@/icons/MySQL.astro'
import React from '@/icons/React.astro'
---

<div class="flex flex-col justify-center gap-1">
  <h2 class="text-2xl font-bold mb-2">Proyectos</h2>
  <div
    class="flex flex-wrap items-center gap-2 text-sm text-gray-light dark:text-gray-dark">
    <div class="inline-flex items-center justify-between w-full">
      <h3 class="text-dark dark:text-light font-bold text-base">
        App de Películas
      </h3>
      <a
        class="inline-flex items-center gap-2 text-dark dark:text-light group"
        href="https://cinespectra-dd8h.onrender.com"
        target="_blank">
        <span class="relative flex h-3 w-3">
          <span
            class="absolute inline-flex h-full w-full animate-ping rounded-full bg-green-400 opacity-75"
          ></span>
          <span class="relative inline-flex h-3 w-3 rounded-full bg-green-500"
          ></span>
        </span>
        <span class="transition-opacity group-hover:opacity-75">Preview</span>
      </a>
    </div>
    <p class="text-pretty">
      Desarrollo de una aplicación web que muestra tráilers de películas
      utilizando la API de <a>The Movie Database.</a>
    </p>
    <ul>
      <span class="mb-2 font-semibold text-dark dark:text-light"
        >Progreso actual:</span
      >
      <li class="ml-4 mb-1 list-disc">
        Se desarrolló primero toda la lógica y las peticiones a la API, creando
        una estructura funcional con un diseño preliminar amigable.
      </li>
      <li class="ml-4 mb-1 list-disc">
        Posteriormente, diseñé en Figma el modelo visual que quería que la web
        siguiera.
      </li>
      <li class="ml-4 mb-1 list-disc">
        Hasta el momento, la aplicación web está implementada solo en su versión
        móvil.
      </li>
    </ul>
  </div>
  <div class="w-full flex items-center justify-between">
    <div class="inline-flex items-center gap-4">
      <React width="32" height="32" />
      <Css width="32" height="32" />
    </div>
    <div class="inline-flex items-center gap-4">
      <a href="#">
        <Figma width="28" height="28" />
      </a>
      <a href="#">
        <Github width="28" height="28" />
      </a>
    </div>
  </div>
  <div class="dark:bg-light/10 bg-dark/10 h-[0.5px] rounded-full m-2"></div>
  <div
    class="flex flex-wrap items-center gap-2 text-sm text-gray-light dark:text-gray-dark">
    <h3 class="text-dark dark:text-light font-bold text-base">
      eCommerce de Zapatillas
    </h3>
    <p class="text-pretty">
      Desarrollo de un eCommerce con funcionalidades completas para la gestión
      de zapatillas, clientes y pedidos, como parte de la materia Taller de
      Programación I de la Universidad.
    </p>
    <ul>
      <span class="mb-2 font-semibold text-dark dark:text-light"
        >Aspectos destacados:</span
      >
      <li class="ml-4 mb-1 list-disc">
        Implementación de funciones CRUD para la gestión de zapatillas, clientes
        y pedidos.
      </li>
      <li class="ml-4 mb-1 list-disc">
        Funcionalidades completas de carrito de compras.
      </li>
      <li class="ml-4 mb-1 list-disc">
        Sistema de gestión de zapatillas, clientes y pedidos.
      </li>
      <li class="ml-4 mb-1 list-disc">
        Utilización actual de DataTables para la gestión de datos.
      </li>
    </ul>
  </div>
  <div class="w-full flex items-center justify-between">
    <div class="inline-flex items-center gap-4">
      <Codeigniter width="35" height="35" />
      <Css width="32" height="32" />
      <MySQL width="45" height="45" />
    </div>
    <div class="inline-flex items-center gap-4">
      <a href="#">
        <Github width="28" height="28" />
      </a>
    </div>
  </div>
  <a class="text-sm hover:underline text-end" href="/proyectos">Ver más</a>
</div>
