---
/* @import components */
import Section from '@/components/Section.astro'

/* @import icons */
import HTML from '@/icons/HTML.astro'
import Css from '@/icons/Css.astro'
import JavaScript from '@/icons/JavaScript.astro'
import React from '@/icons/React.astro'
import Github from '@/icons/Github.astro'
import Git from '@/icons/Git.astro'
import TailwindCss from '@/icons/TailwindCss.astro'
---

<Section title="Habilidades">
  <div class="hidden print:block font-semibold ml-6">
    HTML, CSS, JavaScript, React, TailwindCSS, Git, Github.
  </div>
  <div class="flex flex-wrap justify-center gap-1 print:hidden">
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><HTML />HTML</span
    >
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><Css />CSS</span
    >
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><JavaScript />JavaScript</span
    >
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><React />React</span
    >
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><TailwindCss />Tailwind CSS</span
    >
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><Git />Git</span
    >
    <span
      class="inline-flex justify-center items-center gap-1 font-bold bg-black text-white rounded px-4 print:px-2 print:text-black print:bg-white"
      ><Github />Github</span
    >
  </div>
</Section>
