---
/* @import components */
import Section from '@/components/Section.astro';

/* @import icons */
import HTML from '@/icons/HTML.astro';
import Css from '@/icons/Css.astro';
import JavaScript from '@/icons/JavaScript.astro';
import React from '@/icons/React.astro';
import Github from '@/icons/Github.astro';
import Git from '@/icons/Git.astro';
import VsCode from '@/icons/VsCode.astro';
import TailwindCss from '@/icons/TailwindCss.astro';
---

<Section title='Habilidades'>
  <div>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><HTML/>HTML</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><Css/>CSS</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><JavaScript/>JavaScript</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><TailwindCss/>Tailwind CSS</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><Git/>Git</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><VsCode/>Visual Studio Code</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><React/>React</span>
    <span class='inline-flex justify-center items-center gap-2 font-bold bg-black text-white rounded px-4'><Github/>Github</span>
  </div>
</Section>
