---
import AstroLogo from '@/icons/AstroLogo.astro'
import Codeigniter from '@/icons/Codeigniter.astro'
import Css from '@/icons/Css.astro'
import Figma from '@/icons/Figma.astro'
import Git from '@/icons/Git.astro'
import MySQL from '@/icons/MySQL.astro'
import React from '@/icons/React.astro'
import TailwindCss from '@/icons/TailwindCss.astro'
---

<div class="flex flex-col justify-center gap-4">
  <div class="flex flex-col justify-center gap-1">
    <h2 class="mb-2 text-2xl font-bold">Habilidades</h2>
    <div class="flex w-full flex-wrap items-center gap-4">
      <React width="32" height="32" />
      <AstroLogo width="32" height="32" />
      <Css width="32" height="32" />
      <TailwindCss width="35" height="35" />
      <Git width="28" height="28" />
    </div>
  </div>
  <div class="flex flex-col justify-center gap-1">
    <h2 class="mb-2 text-2xl font-bold">Conocimiento básico</h2>
    <div class="flex w-full flex-wrap items-center gap-4">
      <Codeigniter width="28" height="28" />
      <MySQL width="40" height="40" />
      <Figma width="28" height="28" />
    </div>
  </div>
</div>
