<div class="flex flex-col justify-center gap-4">
  <h2 class="text-2xl font-bold mb-2">Estudios</h2>
  <div class="flex flex-wrap items-center justify-center gap-2 text-sm">
    <a
      class="px-2 py-1 border rounded-2xl text-dark bg-light border-border-light dark:text-light dark:bg-dark dark:border-border-dark transition-colors"
      href="#">Universidad Nacional del Nordeste</a
    >
    <a
      class="px-2 py-1 border rounded-2xl text-dark bg-light border-border-light dark:text-light dark:bg-dark dark:border-border-dark transition-colors"
      href="#">Udemy</a
    >
    <a
      class="px-2 py-1 border rounded-2xl text-dark bg-light border-border-light dark:text-light dark:bg-dark dark:border-border-dark transition-colors"
      href="#">Argentina Programa 4.0</a
    >
    <a
      class="px-2 py-1 border rounded-2xl text-dark bg-light border-border-light dark:text-light dark:bg-dark dark:border-border-dark transition-colors"
      href="#">Youtube</a
    >
  </div>
</div>
