---
import Footer from '@components/Footer.astro'
import Navegation from '@components/Navegation.astro'
import '@fontsource/poppins'
import ViewTransitions from 'astro/components/ViewTransitions.astro'
---

<!doctype html>
<html lang="es" class="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Portafolio donde verás mis proyectos." />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Olivarez Alexis - Front End Developer</title>
    <meta property="og:title" content="Olivarez Alexis - Front End Developer" />
    <meta
      property="og:description"
      content="Portafolio donde verás mis proyectos"
    />
    <meta property="og:image" content="https://alexisxde.github.io/me.webp" />
    <meta property="og:url" content="https://alexisxde.github.io" />
    <meta property="og:type" content="website" />
    <meta property="og:image:width" content="50" />
    <meta property="og:image:height" content="50" />
    <ViewTransitions />
  </head>
  <body
    class="mx-auto my-0 max-w-6xl bg-light text-dark transition-colors dark:bg-dark dark:text-light">
    <Navegation />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global>
  html {
    scroll-behavior: smooth;
  }

  #sobre-mi,
  #inicio {
    scroll-margin-top: 100px;
  }

  button,
  a,
  input:focus {
    outline: none;
  }
</style>
