---
import ViewTransitions from 'astro/components/ViewTransitions.astro'

interface Props {
  title: string
  href: string
  type: string
}

const { title, type, href } = Astro.props
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type={type} href={href} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;1,400&display=swap');

  * {
    --text__color: #f2f2f8;
    --bg__color: #1b1b1f;
    --text__gray: #c9c9ca;
    --card: #202127;
  }

  body {
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
    background-color: var(--bg__color);
    color: var(--text__color);
    max-width: 1395px;
    margin: 0 auto;
  }
</style>
