---
import Footer from "@/sections/footer.astro"
import "@/styles/global.css"
import "@fontsource-variable/sora"
import { ClientRouter as ViewTransitions } from "astro:transitions"

interface Props {
	title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<slot />
		<Footer />
		<div
			class="bg-neutral-900 fixed inset-x-0 bottom-0 h-16 w-full to-transparent backdrop-blur-lg [-webkit-mask-image:linear-gradient(to_top,black,transparent)]">
		</div>
	</body>
</html>
